
@font-face {
    font-family: "cartoonFont";
    src: url("../../public/sfcartoonisthandscbold.ttf") format('truetype');
}

body,p,h1,button,input,textarea{
    font-family: "cartoonFont" ,sans-serif;
    padding: 0px;
    margin: 0px;

}

h1{
font-size: x-large;
line-height: 28px;

}

h2{
    font-size: small;
    line-height: 20px;
    margin: 0px;
}

main{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;justify-content: space-between;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border: 0px;
    border-radius: 15px;
 }
/* Style <option> colors */
select option {
    color: inherit;
    background-color: #c9c9c9;
    border-radius: 15px; 
}
/* Remove focus outline */
select:focus {
    outline: none;
    border-radius: 15px;
}


